html, body {
    margin: 0;
    padding: 0;
    color: #dddddd;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    background: #555555;
}
.top-view {
    display: flex;
    flex-direction: row;
}
.left-pane-border {
    padding-right: 3px;
    cursor: w-resize;
}
.right-pane-border {
    padding-left: 3px;
    cursor: w-resize;
}
.bottom-pane-border {
    padding-top: 3px;
    cursor: s-resize;
}
.left-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333333;
    min-width: 150px;  
    max-width: 350px;
    height: 100%;
    cursor: default;
}
.right-pane {
    justify-content: center;
    align-items: center;
    display: flex;
    background: #222222;   
    min-width: 150px;  
    max-width: 350px;  
    height: 100%;
    cursor: default;
}
.display-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222222; 
    height: 100%;
}
.bottom-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222222;   
    min-height: 210px;
    max-height: 300px;
    cursor: default;
}